<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<section class="w-full max-w-xs py-4 px-4 shadow-md mx-6 my-6">
    <div class="text-xl text-teal-900">Your result:</div>
    <div class="text-3xl text-teal-500">
        {{result}}
    </div>

    <div class="text-xl text-teal-900">Time:</div>
    <div class="text-3xl text-teal-500">
        {{time}} ms
    </div>

    <div class="mt-8">
        <a class="text-blue-500 hover:text-blue-700" href="/">Go back home →</a>
    </div>
</section>